extends template
block variables 
    -	var title = 'О сайте'
block content
    .siteTitle
        p Наш девиз: "Лучшее качество за Ваши деньги" 
        p Лушчая частная школа Владивостока по версии Forbes, входим в топ-20 лучших школ России и топ-500 лучших школ мира
        p Наши награды:
    .studentsBlock
        .studentBlock
            img(src="img/reward1.jpg")
        .studentBlock
            img(src="img/reward2.jpg")
        .studentBlock
            img(src="img/reward3.jpg")
    .siteTitle
        p Подать заявку на поступление вашего ребенка в нашу образовательную организацию вы можете, воспольовавшись контактами внизу страницы